[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.1"
flake8 = "==3.7.9"
pylint = "==2.4.4"
pytest-cov = "==2.10.1"
black = "==19.10b0"
isort = "==4.3.21"

[packages]
loguru = "==0.5.3"
uvicorn = {extras = ["standard"], version = "==0.12.2"}
fastapi = "==0.61.1"
requests = "==2.24.0"
gunicorn = "==20.0.4"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.7"
